html,
body {
    margin: 0
}

.page-padding {
    padding: 1rem;
}

.list-unstyled,
.main-nav,
.nav-item__children {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    display: inline-block;
}

.nav-item--active a {
    color: #fff;
}

.page-header {
    background-color: #ccc;
}

.page-padding > * {
    width: 20rem;
    max-width: 100%;
    margin: auto;
}

.form-group > * {
    display: block;
}

.nav-item {
    position: relative;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item__toggler > summary {
    list-style-type: none;
}
.nav-item__toggler > summary:-webkit-details-marker {
    display: none;
}

.nav-item__toggler > summary:before {
    content: '\25B8';
    display: inline-block;
    width: 0;
    left: -1rem;
    color: inherit;
    transition: transform 50ms;
    transform-origin: 0.35rem 0.7rem;
    position: relative;
}

.nav-item__toggler[open] > summary:before {
    transform: rotate(90deg);
}

.menu-bar,
.main-nav,
.nav-item,
.nav-item__toggler,
.nav-item__children {
    background-color: inherit;
}


.nav-item__children {
    top: 100%;
    padding: 0.5rem;
    position: absolute;
    width: 100%;
}

.nav-item__children > * + * {
    margin-top: 1rem;
}