html,
body {
    margin: 0
}

main,
.menu-bar {
    padding: 0.5rem;
}
.list-unstyled,
.main-nav {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    display: inline-block;
}

.nav-item--active a {
    color: #fff;
}

.menu-bar {
    background-color: #ccc;
}