doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        title 
            = title
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        != content
        
        script(src="/assets/no-js.js")
        script(src="/assets/app.js")